* {
  font-family: Tahoma;
}
.healthBar {
  display: flex;
  width: 500px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.sniper,
.pudge {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}

#over {
  font-size: 60px;
  text-transform: uppercase;
}
